::ng-deep .mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-color: #fff;
}

::ng-deep .mat-mdc-snack-bar-container {
  border-radius: 12px !important;
  font-family: 'Poppins', sans-serif;
}